<manifest xmlns:android="http://schemas.android.com/apk/res/android">
   <!-- Required for server-mode HTTP requests (Ktor) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="Deepdots Example Local">
        <activity android:name="com.deepdots.example.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
